* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  
}

html {
  height: 100%;
}

body {
  background-color: 	#182733;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  
  scroll-behavior: smooth;
  overflow-wrap: normal;
  font-size: 14px;
  color: #8fe6b5;
  resize: none;
  background-color: #3b4f5e;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
  align-items: stretch;
}

.flex-row {
  flex-direction: row;
  justify-content: center;
}

.gap {
  gap: 7px;
}

#errors {
  color: #FF5370;
}

button {
  width: 220px;
  height: 50px;
  margin-top: 10px;
  border: none;
  border-radius: 50px;
  font-size: 23px;
  background-color: #73b991;
  color: rgb(245, 245, 245);
  /* font-family: 'Shippori Antique B1', sans-serif; */
  font-family: 'Ubuntu', sans-serif;
}

button:hover {
  cursor: pointer;
  background-color: #67a381;
}









.CodeMirror-vscrollbar::-webkit-scrollbar {
  background-color: #25313a;
  width: 8px; 
  border-radius: 5px;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb:vertical, .CodeMirror-hscrollbar::-webkit-scrollbar-thumb:horizontal {
  background-color: #8fe6b5;
  border-radius: 5px;
}
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb:vertical:active, .CodeMirror-hscrollbar::-webkit-scrollbar-thumb:horizontal:active {
  border-radius: 5px;
}

.CodeMirror-hscrollbar::-webkit-scrollbar {
  background-color: #25313a;
  height: 8px;
  border-radius: 5px;
}


textarea::-webkit-scrollbar { 
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background-color: #25313a;
  border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #8fe6b5;
}

textarea:hover {
  cursor: unset;
}

